body {
	padding-bottom: 150px;
	background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

h1 {
	font-size: 35px;
	font-family: Georgia;
	font-weight: bold;
}

blockquote {
	font-family: Georgia;
}

#myCarousel {
    width: 487px;
    margin: 0 auto;
}

.stopka{
	height: 150px;
	width: 100%;
	background: url(trawa.png);
    background-position: top;
    position: fixed;
    bottom: 0;
}


@media only screen and (max-width: 600px) {
	.large-table {
		display: none;
	}
}

@media only print {
	#myCarousel {
		display: none;
	}
}

.dziecko table {
	margin: auto;
}

th {
	border: 1px solid black;
	margin-top: 2px;
	height: 50px;
	width: 200px;
}

td {
	border: 1px solid black;
	padding: 5px;
	height: 40px;
}

table caption {
	text-align: left;
	color: blue;
	font-size: 20px;
	font-weight: bold;
}

html {
	overflow: scroll;
}

#elements {
	background-color:  #9494b8
}

table {
	font-family: Georgia;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:  #f2f2f2;
}

#menuBar {
  display: inline-block;
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  position: relative;
}


.klik {
	font-family: Georgia;
	position: absolute;
	display: none;
	background-color:  #f2f2f2;
}

#menuBar:hover .klik {
	display: block;
}