body {
	background: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

h1 {
	font-family: Georgia;
	font-size: 130%;
}


p {
	text-align: center;
	margin: auto;
    margin-top: auto;
    margin-top: 10%;
    width: 60%;
    font-family: Georgia;
    line-height: 1.5em;
    font-size: 130%;
}